body {
	background-color: #333;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'VT323', monospace;
	/* min-height: 100vh; */
	margin: 0;
}

#canvas {
	background: #f0f0f0;
	/* border-radius: 5px; */
	touch-action: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}